.bs-docs-header .logo
{
	float: left;
	margin-right: 30px;
}

.bs-docs-header .title
{
	margin-top: 13px;
}

.row
{
	margin-bottom: 15px;
}

.carousel-caption
{
	background: rgba(0, 0, 0, 0.65);
}

.bs-callout pre
{
	background: #ffffff;
	margin-bottom: 0;
}
